.App {
  text-align: center;
}

body {
  color: #333;
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
}

.logo-img {
  filter: invert(15%) sepia(1%) saturate(2207%) hue-rotate(338deg)
    brightness(103%) contrast(87%);
  width: 100px;
  height: 100px;
}

.NavLink {
  text-decoration: none;
  color: #333;
}

.A {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: small;
  letter-spacing: 1px;
}

.B {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.B h1 {
  text-align: center;
  white-space: pre-wrap;
  font-size: 43px;
  color: #222;
  word-spacing: 5px;
  font-weight: 450;
}
.B span {
  font-size: small;
  margin-top: 2rem;
}

.C {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
  flex-wrap: wrap;
}

.C-span {
  font-size: small;
}

.D {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.D h1 {
  position: absolute;
  margin-left: 29.5%;
  margin-top: 7rem;
  color: #252525;
  font-weight: bold;
  font-size: 45px;
}

.E {
  margin: 0px;
}

img {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 2px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(200%);
  transition: filter 250ms;
}

img:hover,
:focus {
  filter: grayscale(0%);
}

.P {
  font-size: 14px;
  text-align: left;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: crimson;
  margin-right: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.link-span {
  color: #333;
  text-decoration: none;
}

.loading-dots {
  display: inline-block;
}

.projects {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects h3 {
  text-align: left;
  margin-left: 1.3rem;
}

.projects li {
  margin: 0.5rem 0;
  text-align: left;
}

.projects a {
  color: crimson;
  cursor: pointer;
}

@media (max-width: 768px) {
  img {
    width: 330px;
    max-height: 400px;
  }
  .D {
    gap: 0.5rem;
  }

  .D h1 {
    margin-left: 1%;
    margin-top: 22.5rem;
    color: white;
    font-size: 32px;
  }

  .E {
    padding: 15px 10px;
    width: 330px;
  }

  .B h1 {
    font-size: 32px;
  }

  .C {
    gap: 0;
    margin-top: 20px;
  }
}
