.App {
  text-align: center;
  font-family: "Ysabeau SC", sans-serif;
}

body {
  color: #333;
  background-color: whitesmoke;
}

.logo-img {
  filter: invert(15%) sepia(1%) saturate(2207%) hue-rotate(338deg)
    brightness(103%) contrast(87%);
  width: 100px;
  height: 100px;
}

.NavLink {
  text-decoration: none;
  color: #333;
}

.A {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: small;
}

.B {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.B h1 {
  text-align: center;
  white-space: pre-wrap;
  font-size: 43px;
  color: #222;
  word-spacing: 5px;
}
.B span {
  font-size: small;
  margin-top: 2rem;
}

.C {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
  flex-wrap: wrap;
}

.C-span {
  font-size: small;
}

.D {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.D h1 {
  position: absolute;
  margin-left: 29%;
  margin-top: 4rem;
  color: black;
  font-weight: bold;
  font-size: 43px;
}

.E {
  margin: 0px;
}

img {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.P {
  font-size: 13px;
  text-align: left;
}

.link {
  font-size: 13px;
  text-decoration: none;
  color: crimson;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  img {
    width: 300px;
    max-height: 400px;
  }
  .D {
    gap: 0.5rem;
  }

  .D h1 {
    margin-left: 0rem;
    margin-bottom: 18%;
    color: white;
  }

  .E {
    padding: 15px 25px;
  }

  .B h1 {
    font-size: 16px;
  }

  .C {
    gap: 0;
  }
}
