.App {
  text-align: center;
  font-family: "Ysabeau SC", sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

body {
  color: #333;
  background-color: whitesmoke;
}

.logo-img {
  filter: invert(15%) sepia(1%) saturate(2207%) hue-rotate(338deg)
    brightness(103%) contrast(87%);
}

.NavLink {
  text-decoration: none;
  color: #333;
}

.A {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: small;
}

.B {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.B h1 {
  text-align: center;
  white-space: pre-wrap;
  font-size: 43px;
  color: #222;
  word-spacing: 5px;
}
.B span {
  font-size: small;
  margin-top: 2rem;
}

.C {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
}

.C-span {
  font-size: small;
}

.D {
  display: flex;
  align-items: center;
}

.me {
  width: 500px;
  max-height: 500px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.h1-shadow {
  position: absolute;
  margin-left: 29%;
  margin-bottom: 18%;
  color: black;
  font-weight: bold;
  font-size: 43px;
}

.P {
  font-size: 13px;
  text-align: left;
}
